# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Windows / Mac / Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml
